
html,body{
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar-thumb {
    background-color: #b7b7b7;
    border-radius: 4px;
  }
  &::-webkit-scrollbar {
    width: 6px;
    background-color: #e5e5e5;
  }
}
.v-data-table__wrapper{
  &::-webkit-scrollbar-thumb {
    background-color: #b7b7b7;
    border-radius: 4px;
  }
  &::-webkit-scrollbar {
    width: 6px;
    background-color: #e5e5e5;
  }
}
